#### No Authentication ####

##### Without Store ID #####

To configure the SDK API client without store ID, we can initialize the api client by specifying the scheme and host.

```kotlin
```

##### With Store ID #####

To configure the SDK API client store ID, we can initialize the api client by specifying the scheme, host and store_id.

```kotlin
```

Another possibility is to use the existing configuration and add store id in its configuration

```kotlin
```

#### Authentication via API Token ####

To configure the SDK API client with authentication via API TOKEN, we can initialize the api client by specifying the scheme, host and credentials.

```kotlin
```
